<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <permission android:name="com.example.assignment_2_412_mobilesoftwareengineering.MSE412" android:protectionLevel="dangerous"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="com.example.assignment_2_412_mobilesoftwareengineering.MSE412"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_2412MobileSoftwareEngineering">
    <activity android:name="com.example.assignment_2_412_mobilesoftwareengineering.MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name="com.example.assignment_2_412_mobilesoftwareengineering.SecondActivity" android:exported="true" android:permission="com.example.assignment_2_412_mobilesoftwareengineering.MSE412"/>
        <activity android:name="com.example.assignment_2_412_mobilesoftwareengineering.ThirdActivity"/>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
            </provider>
    </application>

</manifest>